*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4d7ecde9;
    align-items: center;
    
}

.containor{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.containor a{
    width: 15%;
    font-size: 25px;
    font-weight: 900;
    align-items: center;
    justify-content: space-between;
    margin: 100px 15px;

}

.containor h2{
    width: 15%;
    height: 7%;
    border: 1px solid black;
    border-radius: 5px;

    position:absolute;
    top: 5px;
    left: 45%;
    text-align: center;
    font-size: 40px;
    background-color: white;
}


a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgba(0, 128, 0, 0.927);
    color: white;
    transition: .5s;

}